
/dts-v1/;

/ {
        name = "";
        compatible = "ibm,opal-in-memory-counters";
        #address-cells = <0x1>;
        #size-cells = <0x1>;
        imc-nest-offset = <0x320000>;
        imc-nest-size = <0x30000>;
        version-id = <0xd>;

NEST_MCS: nest-mcs-events {
		#address-cells = <0x1>;
		#size-cells = <0x1>;

		event@18 {
			event-name = "UP_128B_DATA_XFER" ;
			reg = <0x18 0x8>;
			desc = "Total Read Bandwidth seen on both MCS" ;
		};
		event@98 {
			event-name = "DOWN_128B_DATA_XFER" ;
			reg = <0x98 0x8>;
			desc = "Total Write Bandwidth seen on both MCS" ;
		};
	};
	mcs0 {
		compatible = "ibm,imc-counters-nest";
		events-prefix = "PM_MCS0_";
		unit = "MiB";
		scale = "1.2207e-4";
		reg = <0x100 0x8>;
		events = < &NEST_MCS >;
	};
	mcs1 {
		compatible = "ibm,imc-counters-nest";
		events-prefix = "PM_MCS1_";
		unit = "MiB";
		scale = "1.2207e-4";
		reg = <0x108 0x8>;
		events = < &NEST_MCS >;
	};
	mcs2 {
		compatible = "ibm,imc-counters-nest";
		events-prefix = "PM_MCS2_";
		unit = "MiB";
		scale = "1.2207e-4";
		reg = <0x110 0x8>;
		events = < &NEST_MCS >;
	};
	mcs3 {
		compatible = "ibm,imc-counters-nest";
		events-prefix = "PM_MCS3_";
		unit = "MiB";
		scale = "1.2207e-4";
		reg = <0x118 0x8>;
		events = < &NEST_MCS >;
	};

};
